<div id="<%= dom_id deliverable %>">
  <p>
    <strong>Contract:</strong>
    <%= deliverable.contract_id %>
  </p>

  <p>
    <strong>Trade symbol:</strong>
    <%= deliverable.trade_symbol %>
  </p>

  <p>
    <strong>Destination symbol:</strong>
    <%= deliverable.destination_symbol %>
  </p>

  <p>
    <strong>Units required:</strong>
    <%= deliverable.units_required %>
  </p>

  <p>
    <strong>Units fulfilled:</strong>
    <%= deliverable.units_fulfilled %>
  </p>

</div>
