<%= form_with(model: deliverable) do |form| %>
  <% if deliverable.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

      <ul>
        <% deliverable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contract_id, style: "display: block" %>
    <%= form.text_field :contract_id %>
  </div>

  <div>
    <%= form.label :trade_symbol, style: "display: block" %>
    <%= form.text_field :trade_symbol %>
  </div>

  <div>
    <%= form.label :destination_symbol, style: "display: block" %>
    <%= form.text_field :destination_symbol %>
  </div>

  <div>
    <%= form.label :units_required, style: "display: block" %>
    <%= form.number_field :units_required %>
  </div>

  <div>
    <%= form.label :units_fulfilled, style: "display: block" %>
    <%= form.number_field :units_fulfilled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
