<div id="<%= dom_id contract %>">
  <p>
    <strong>Contract:</strong>
    <%= contract.contract_id %>
  </p>

  <p>
    <strong>Faction symbol:</strong>
    <%= contract.factionSymbol %>
  </p>

  <p>
    <strong>Contract type:</strong>
    <%= contract.contract_type %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= contract.accepted %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= contract.fulfilled %>
  </p>

  <p>
    <strong>Terms deadline:</strong>
    <%= contract.terms_deadline %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= contract.expiration %>
  </p>

  <p>
    <strong>Deadline to accept:</strong>
    <%= contract.deadlineToAccept %>
  </p>

  <p>
    <strong>Payment on accepted:</strong>
    <%= contract.paymentOnAccepted %>
  </p>

  <p>
    <strong>Payment on fulfilled:</strong>
    <%= contract.paymentOnFulfilled %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= contract.terms %>
  </p>

</div>
