<div id="<%= dom_id delivery %>">
  <p>
    <strong>Contract:</strong>
    <%= delivery.contract_id %>
  </p>

  <p>
    <strong>Trade symbol:</strong>
    <%= delivery.trade_symbol %>
  </p>

  <p>
    <strong>Destination symbol:</strong>
    <%= delivery.destination_symbol %>
  </p>

  <p>
    <strong>Units required:</strong>
    <%= delivery.units_required %>
  </p>

  <p>
    <strong>Units fulfilled:</strong>
    <%= delivery.units_fulfilled %>
  </p>

</div>
