<article id="<%= dom_id agent %>">
  <h2><%= agent.symbol %></h2>
  <div class="card-content">
    <details>
      <ul style="list-style: none;">
        <li><strong>Faction:</strong> <%= agent.faction %></li>
        <li><strong>Agent token:</strong> <%= agent.agent_token %></li>
        <li><strong>User:</strong> <%= agent.user_id %></li>
        <li><strong>Accountid:</strong> <%= agent.accountId %></li>
        <li><strong>Headquarters:</strong> <%= agent.headquarters %></li>
        <li><strong>Credits:</strong> <%= agent.credits %></li>
        <li><strong>Shipcount:</strong> <%= agent.shipcount %></li>
      </ul> 
    </details>
  </div>
</article>
