<%= form_with(model: create_contract) do |form| %>
  <% if create_contract.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_contract.errors.count, "error") %> prohibited this create_contract from being saved:</h2>

      <ul>
        <% create_contract.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contract_id, style: "display: block" %>
    <%= form.text_field :contract_id %>
  </div>

  <div>
    <%= form.label :faction_symbol, style: "display: block" %>
    <%= form.text_field :faction_symbol %>
  </div>

  <div>
    <%= form.label :contract_type, style: "display: block" %>
    <%= form.text_field :contract_type %>
  </div>

  <div>
    <%= form.label :accepted, style: "display: block" %>
    <%= form.checkbox :accepted %>
  </div>

  <div>
    <%= form.label :fulfilled, style: "display: block" %>
    <%= form.checkbox :fulfilled %>
  </div>

  <div>
    <%= form.label :terms_deadline, style: "display: block" %>
    <%= form.datetime_field :terms_deadline %>
  </div>

  <div>
    <%= form.label :expiration, style: "display: block" %>
    <%= form.datetime_field :expiration %>
  </div>

  <div>
    <%= form.label :deadline_to_accept, style: "display: block" %>
    <%= form.datetime_field :deadline_to_accept %>
  </div>

  <div>
    <%= form.label :payment_on_accepted, style: "display: block" %>
    <%= form.number_field :payment_on_accepted %>
  </div>

  <div>
    <%= form.label :payment_on_fulfilled, style: "display: block" %>
    <%= form.number_field :payment_on_fulfilled %>
  </div>

  <div>
    <%= form.label :terms, style: "display: block" %>
    <%= form.textarea :terms %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
