<p style="color: green"><%= notice %></p>

<%= render @create_contract %>

<div>
  <%= link_to "Edit this create contract", edit_create_contract_path(@create_contract) %> |
  <%= link_to "Back to create contracts", create_contracts_path %>

  <%= button_to "Destroy this create contract", @create_contract, method: :delete %>
</div>
